body {
    background-color: rgb(242, 133, 133);
    font-family: Verdana, sans-serif;
}

.title {
    color: rgb(58, 61, 230);
    background-color: whitesmoke;
}

.text-title {
    font-size: 20px;
    margin-bottom: 10px;
}

.text-dc {
    font-size: 10px;
}

.box {
    background-color: rgb(255, 255, 255);
    width: 150px;
    height: 150px;
    margin: 20px;
    padding: 10px;
    border-width: 5px;
    border-color: blue;
    border-style: dotted;
    display: inline-block;
}

#special-box {
    background-color: aqua;
    /*position: fixed;
    right: 10px;
    right: 15px;*/
}
